<%
const currentUrl = locals?.url || ""; 
const tabs = [{href: "/", label: "Dashboard"}, {href: "/programs", label: "Programs"}, {href: "/profile", label: "Profile"}]

const setLabel = (tab) => {
	const active = tab.href === currentUrl ? "isActive" : "";
	return `footer-label ${active}`
}

const setIndicator = (tab) => {
	const active = tab.href === currentUrl ? "isActive" : "";
	return `footer-indicator ${active}`
}
%>

<footer class="footer">
	<nav class="footer-nav">
		<ul>
			<% tabs.forEach(tab => { %>
				<li>
					<a href="<%= tab.href %>">
					<span class="<%= setLabel(tab) %>"
						><%= tab.label %></span
					>
					<span
						class="<%= setIndicator(tab) %>"
						aria-hidden="true"
					></span>
				</a>
				</li>
			<% }) %>
		</ul>
	</nav>
</footer>