<%
  const labelArr = Array.from(data?.label || "");
%>

<div class="form-control">
  <input placeholder=" " type="<%= data?.type || 'text' %>" name="<%= data?.name || '' %>"/>
  <label>
    <% labelArr.forEach((letter, index) => { %>
      <span style="--delay: <%= index * 50 %>ms;"><%= letter %></span>
    <% }) %>
  </label>
</div>