<% 
console.log(2) 
const curr = currentUser;
console.log({curr})
%>

<!DOCTYPE html>
<html lang="en">
	<%- include('head'); %>
	<body>
		<%- include('header'); %>
		<div class="content"><%- slots.main %></div>
		<%- include('footer'); %>
	</body>
</html>
