<%
const userArr = data?.userArr || [];
const goalArr = data?.goalArr || [];
%>

<form class="forms" action="/programs" method="POST">

	<%- include('olaInput', { data: { label: "Name", type: "text", name: "name", autocomplete: "name", required: true } }); %>

	<%- include("select", { data: { label: "user", name: "userId", options: userArr } }); %>

	<%- include("select", { data: { label: "goal", name: "goalId", options: goalArr } }); %>

	<%- include("simpleButton", { data: { text: "Submit", type: "submit" } }); %>
</form>