<% const dayId = locals?.dayId || null; const backUrl = locals?.backUrl || "";
%>

<div class="day-component">
	<h1>DAY <%= dayId %></h1>
	<a href="<%= backUrl %>">Go back</a>
	<div class="session-component" data-calendar-day-id="<%= dayId %>">
		<div class="container session-selected">
			<p>Day</p>
		</div>
	</div>
</div>
