<% const dayId = locals?.dayId || null %>

<div>
	<h1>DAY <%= dayId %></h1>

	<div class="basic-calendar">
		<ul class="list">
			<li class="day-item cycle-selected" data-calendar-day-id="<%= dayId %>">
				<a>Day</a>
			</li>
		</ul>
	</div>
</div>
