<main class="main dashboard">
	<h1>Dashboard</h1>
	<div>
		<h2>NO ACTIVE PROGRAM</h2>
		<p>
			Your training architecture starts here. Build a custom program or choose
			from a professional template to begin your progression.
		</p>

		<a href="/programs"> CREATE YOUR FIRST PROGRAM </a>
	</div>
</main>
