<% 
	 const allDataArr = data?.movements;
%>


<!doctype html>
<html lang="en">
	<%- include('partials/head'); %>
	<body>
<%- include('partials/userForm'); %>
		<main>	
			<% if(data?.movements?.length === 0) { %>
				<p>(Empty)</p>
			<% } else { %>
				<ul>
					<% data.movements.forEach( item => { %>
						<li>	<p><%= item?.name %></p></li>
					<% }) %>
				</ul>
			<% } %>
		</main>
	</body>
</html>
