<% 
const dataId= "profilePageBasicLine"
const userArr = locals?.userArr || [];
const modalId = "createUserModal";
const path = "/app_state/set_current_user";
const destination = "/profile";
const payloadName ="userId";
%>

<main class="main profile">
	<% if( userArr.length === 0){ %>
		<div>
			<h1>ATHLETE<br />INITIALIZATION</h1>
			<p>
				Enter precise baseline metric to calibrate the performance engine.
				Accuracy is required for optimal load calculation and volume prescription.
			</p>
	</div>
	<% } else { %>
		<h1>CHOOSE THE ACTIVE USER</h1>
	<% } %>

	<%- include("partials/basicLine", {line: { arr: userArr, modalId, currentItemId: locals?.currUserId, path, payloadName, destination, dataId }}) %>
</main>

<%- contentFor("overlays") %>

<%- include("partials/basicModal", {
		modal: {
			id: modalId,
			title: "Create user",
			description: "Fill in the user information below.",
			renderContent: () => include("partialsOld/newUserForm")
		}
	}) 
%>
</main>
