<% 
const userArr = locals?.userArr || [];
const modalId = "createUserModal";
%>

<main class="main profile">
	<!-- <div>
		<h1>ATHLETE<br />INITIALIZATION</h1>
		<p>
			Enter precise baseline metric to calibrate the performance engine.
			Accuracy is required for optimal load calculation and volume prescription.
		</p>
	</div> -->
	<%- include("partials/basicLine", {line: {title: "CHOOSE THE ACTIVE USER", arr: userArr, modalId }}) %>
	<%- include("partials/setUserForm" ) %>
</main>

<%- contentFor("overlays") %>

<%- include("partials/basicModal", {
		modal: {
			id: modalId,
			title: "Create user",
			description: "Fill in the user information below.",
			renderContent: () => include("partialsOld/newUserForm")
		}
	}) 
%>
</main>
