<% 
const currUserId = locals?.currUserId || null;
const userArr = locals?.userArr || [];
const entity = "user";
const loggedUserPath = "/profile/user/";
const modalId = "createUserModal";
const basicLineId = "profilePageUserBasicLine";

%>

<main class="main profile">
	<% if( userArr.length === 0){ %>
		<div>
			<h1>ATHLETE<br />INITIALIZATION</h1>
			<p>
				Enter precise baseline metric to calibrate the performance engine.
				Accuracy is required for optimal load calculation and volume prescription.
			</p>
	</div>
	<% } else { %>
		<h1>CHOOSE THE ACTIVE USER</h1>
	<% } %>

	<%- include("partials/newBasicLine", {line: {basicLineId, entity, arr: userArr, modalId, currentItemId: currUserId, path: loggedUserPath }}) %>
</main>

<%- contentFor("overlays") %>

<%- include("partials/basicModal", {
		modal: {
			id: modalId,
			title: "Create user",
			description: "Fill in the user information below.",
			renderContent: () => include("partialsOld/newUserForm")
		}
	}) 
%>
</main>
