<% 
const programArr = locals?.currUserProgram || [];
const modalId = "createProgramModal";
%>

<main class="main programs">
	<%- include("partials/basicLine", {line: {title: "CHOOSE THE ACTIVE PROGRAM", arr: programArr, modalId }}) %>
</main>


<%- contentFor("overlays") %>

<%- include("partials/basicModal", {
	modal: {
		id: modalId,
		title: "Create program",
		description: "Fill in the program information below.",
		renderContent: () => include("partials/newProgramForm")
	}
}) %>