<% 
const programArr = locals?.currUserProgramArr || [];
const modalId = "createProgramModal";
const path = "/app_state/set_current_program";
const destination = "/profile";
const payloadName = "programId";
%>

<main class="main programs">
	<% if( programArr.length === 0){ %>
		<div>
			<h1>PROGRAM<br />ESSENTIALS</h1>
			<p>
			Initialize your elite performance protocol by defining the high-level architecture of this training block.
			</p>
	</div>
	<% } else { %>
		<h1>CHOOSE THE ACTIVE PROGRAM</h1>
	<% } %>

	<%- include("partials/basicLine", {line: { arr: programArr, modalId, path, currentItemId: locals?.currProgramId, payloadName, destination }}) %>
</main>


<%- contentFor("overlays") %>

<%- include("partials/basicModal", {
	modal: {
		id: modalId,
		title: "Create program",
		description: "Fill in the program information below.",
		renderContent: () => include("partials/newProgramForm")
	}
}) %>