.shared-accordion {
	box-shadow: var(--box-shadow-header);
	position: relative;
	color: var(--color-text);
}

.shared-accordion .header {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 1em;
	background-color: var(--color-stitch-secondary);
	z-index: 2;
	position: relative;
	border: 0;
	width: 100%;
	align-items: center;
	color: var(--color-text);

	&:hover {
		cursor: pointer;
	}

	h3 {
		font-size: 1.2em;
		margin-right: auto;

		height: fit-content;
	}
}

.shared-accordion .panel {
	background-color: var(--color-surface);
	z-index: 1;
	position: relative;
	display: grid;
	grid-template-rows: 1fr;
	transition:
		grid-template-rows 220ms,
		opacity 200ms;
}

.shared-accordion.collapsed .panel {
	opacity: 0;
	grid-template-rows: 0fr;
	pointer-events: none;
}

.shared-accordion .panel-content {
	overflow: hidden;

	> p {
		padding: 1em;
	}
}

.shared-accordion .icon {
	transition: transform 240ms;
}

.shared-accordion.collapsed .icon {
	transform: rotate(180deg);
}
