.modal .muscle-section {
	border: 1px solid var(--color-text);
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: center;

	button {
		width: fit-content;
		font-size: 0.9em;
	}
}

.modal .musclePerformingListItem {
	display: grid;
	grid-template-columns: 1fr auto;
	margin-top: 0.6em;
	text-overflow: ellipsis;
	gap: 1em;

	.simple-button {
		font-size: 0.9em;
		padding: 0.2em 0.4em;
		height: fit-content;
	}
}
