.page-header {
	position: fixed;
	width: 100%;
	height: fit-content;
	padding: 1em var(--horizontal-margin);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.2em solid var(--color-border);
	background-color: var(--color-surface);
	box-shadow: var(--box-shadow-header);
	z-index: 99;
	top: 0;
	left: 0;
}

.page-header .logoContainer {
	height: 72px;
	width: 72px;
}

.page-header .avatar-container {
	background-color: transparent;
	border: 0;

	&:hover {
		cursor: pointer;
	}
}

.page-header .avatar {
	border-radius: 12px;
	background-color: var(--color-text-muted);
	margin-left: auto;
	width: 48px;
	height: 48px;
	padding: 0.3em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid transparent;
	transition: border 160ms ease;
}

.page-header .avatar-name {
	color: var(--color-text-muted);
	margin-top: 0.3em;
	display: flex;
	justify-content: flex-end;
	font-size: 1.3em;
	transition: color 160ms;
}

.page-header .avatar-container:hover .avatar {
	border-color: var(--color-text);
}

.page-header .avatar-container:hover .avatar-name {
	color: var(--color-text);
}
