[data-modal] {
	border: 1px solid greenyellow;
	width: 0;
	height: 0;
}

[data-modal-backdrop] {
	height: 100%;
	width: 100%;
	background-color: rgb(0, 0, 0, 0.5);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 300ms;
}

[data-modal-content] {
	background-color: white;
	width: 60%;
	height: 80%;
	position: absolute;
	z-index: 4;
	top: 10%;
	left: 20%;
	padding: 1em;
	transform: translateY(120%);
	transition: transform 300ms;
}

[data-modal-content-header] {
	display: grid;
	grid-template-columns: 1fr auto;
}

[data-modal-backdrop].is-open {
	opacity: 1;
}

[data-modal-content].is-open {
	transform: translateY(0);
}
