.input-control {
	position: relative;
	width: 100%;
}

.input-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px var(--color-text) solid;
	display: block;
	width: 100%;
	padding: 20px 0 6px;
	font-size: 18px;
	color: var(--color-text);
	height: 60px;
}

.input-control input:focus {
	outline: 0;
	border-bottom-color: var(--color-accent);
}

.input-control label {
	position: absolute;
	top: 1.5em;
	left: 0;
	pointer-events: none;
}

.input-control label span {
	display: inline-block;
	font-size: 18px;
	min-width: 5px;
	color: var(--color-text);
	transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-control input:focus + label span {
	color: var(--color-accent);
}

.input-control input:not(:placeholder-shown) + label span {
	transform: translateY(-25px);
}

.input-control input:-webkit-autofill + label span {
	transform: translateY(-1.5em);
}

.input-control label span {
	transition-delay: var(--delay);
}

.field {
	position: relative;
	width: 100%;
	color: var(--color-text);
}

.field input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px var(--color-text) solid;
	display: block;
	width: 100%;
	padding: 20px 0 6px;
	font-size: 18px;
	color: var(--color-text);
	height: 60px;
}
