.session-form .session-fields-container {
	width: 100%;

	textarea {
		margin-top: 1.2em;
		width: 100%;
		color: var(--color-text);
		border-radius: 4px;
		padding: 0.4em;

		&:focus {
			outline: 0;
		}

		&::placeholder {
			color: var(--color-text);
		}
	}
}

.session-form .session-step-fields-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	p {
		color: var(--color-stitch);
		margin-bottom: 1em;
	}

	.field {
		margin-top: 1.2em;
	}
}

.session-form .session-step-fields-container .simple-button {
	font-size: 0.9em;
	padding: 0.2em 0.4em;
	height: fit-content;
	margin: 1.2em auto 0;
	width: fit-content;
}
