.shared-accordion {
	box-shadow: var(--box-shadow-header);
	position: relative;
}

.shared-accordion .header {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 1em;
	background-color: var(--color-stitch-secondary);
	z-index: 2;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	h3 {
		font-size: 1.2em;
	}
}

.shared-accordion .panel {
	padding: 1em;
	background-color: var(--color-surface);
	transition:
		transform 240ms,
		opacity 240ms;
	z-index: 1;
	position: relative;
}

.shared-accordion.collapsed .panel {
	transform: translateY(-40px);
	opacity: 0;
}

.shared-accordion .icon {
	transition: transform 240ms;
}

.shared-accordion.collapsed .icon {
	transform: rotate(180deg);
}
