.main.dashboard {
	display: flex;
	flex-direction: column;

	--week-list-arrow-size: 2.2em;
	--workout-session-indication-item-size: 0.5em;
}

.main.dashboard .main-header {
	margin: 2em var(--horizontal-margin);
}

.main.dashboard .sync-status {
	margin-top: 1em;

	.title-container {
		display: flex;
		justify-content: space-between;
		margin: 0 var(--horizontal-margin);
	}

	.title {
		color: var(--color-text-muted);
		font-size: 0.8em;
		letter-spacing: 0.2em;
	}
}

.main.dashboard .sync-status .week-day-item {
	background-color: var(--color-stitch-secondary);
	padding: 1em;
	color: var(--color-text);
	border-radius: 6px;
	border-top: 0.2em solid var(--color-text);
	display: flex;
	flex-direction: column;
	gap: 0.2em;
	align-items: center;

	&.active {
		border-color: var(--color-stitch);
		color: var(--color-stitch);
	}

	> span:first-of-type {
		font-size: 0.7em;
		color: var(--color-text-muted);
	}

	> span:nth-of-type(2) {
		font-size: 1.2em;
		letter-spacing: 0.1em;
	}
}

.main.dashboard .current-week-container {
	margin-top: 0.8em;
	display: flex;
	justify-content: center;

	ul {
		display: flex;
		gap: 0.65em;
	}
}

.main.dashboard .training-day-list-container .week-day-item {
	background-color: var(--color-stitch-secondary);
	padding: 0.8em 1em 0.4em;
	color: var(--color-text);
	border-radius: 6px;
	border-top: 0.2em solid var(--color-text);

	> div {
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		align-items: center;
	}

	> div > span:first-of-type {
		font-size: 0.7em;
		color: var(--color-text-muted);
	}

	> div > span:nth-of-type(2) {
		font-size: 1.2em;
		letter-spacing: 0.1em;
	}

	&.active {
		border-color: var(--color-stitch);
		> div > span {
			color: var(--color-stitch);
		}
	}
}

.program-banner-container,
.outside-scope-banner-container,
.cycle-banner-container {
	padding: 1.2em;
	border-left: 0.2em solid var(--color-stitch);
	border-radius: 4px;
	background-color: var(--color-stitch-secondary);
	margin: 2em var(--horizontal-margin) 0;

	p {
		font-size: 0.6em;
		letter-spacing: 0.2em;
		color: var(--color-stitch);
		margin-bottom: 0.3em;
	}

	h1 {
		font-size: 1.5em;
		color: var(--color-text);
		font-weight: 500;
	}
}

.outside-scope-banner-container {
	border-left: 0.2em solid var(--color-text);

	p {
		color: var(--color-text);
	}
}

.cycle-banner-container {
	margin: 0.5em var(--horizontal-margin);
	padding: 0.5em 1.4em;
	border-left: 0.2em solid var(--color-accent);
	p {
		color: var(--color-accent);
	}
}

.no-active-program-container,
.no-active-user-container {
	display: flex;
	justify-content: center;
	margin: 2em var(--horizontal-margin) 0;

	.content {
		background-color: var(--color-stitch-secondary);
		padding: 1.8em;
		display: flex;
		flex-direction: column;
		gap: 1.2em;
	}

	.image-container {
		background-color: var(--color-text-muted);
		border-radius: 4px;
		padding: 1em 0.7em;
		width: fit-content;
	}

	h2 {
		font-size: 1.4em;
		color: var(--color-text);
		letter-spacing: 0.06em;
	}

	p {
		color: var(--color-text-muted);
		max-width: 400px;
		font-size: 1.1em;
	}

	a {
		padding: 0.8em 1.4em;
		background-color: var(--color-stitch);
		color: var(--color-stitch-text);
		border-radius: 4px;
		font-size: 0.8em;
		text-decoration: none;
		font-weight: 800;
		letter-spacing: 0.06em;
		display: flex;
		align-items: center;
		gap: 0.6em;

		.icon {
			min-width: 24px;
			width: 24px;
			height: 24px;
			fill: var(--color-stitch-text);
		}

		p {
			color: var(--color-stitch-text);
			letter-spacing: 0.1em;
			display: block;
		}
	}
}

.no-active-program-container {
	margin-bottom: 2em;
}

.date-section {
	margin-top: 1em;
}

.date-section .current-day-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.date-section .current-day {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: var(--color-stitch-secondary);

	& span:first-of-type {
		font-size: 0.9em;
		color: var(--color-stitch);
		font-weight: 700;
		letter-spacing: -0.06em;
		white-space: nowrap;
	}
}

.date-section .workout-session-indication-container {
	ol {
		display: flex;
		gap: 0.4em;
		height: var(--workout-session-indication-item-size);
	}

	li {
		height: 100%;
		aspect-ratio: 1 / 1;
		background-color: var(--color-stitch-text);
		border-radius: 20%;
	}

	li.indication-in-progress {
		background-color: var(--color-accent);
	}
}

.date-section .previousDayArrow,
.nextDayArrow {
	border: none;
	box-shadow: var(--box-shadow-header);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;

	height: var(--week-list-arrow-size);
	aspect-ratio: 1/ 1;
	border-radius: 6px;
	color: var(--color-text);
	&:link,
	&:visited {
		background-color: var(--color-stitch-text);

		text-align: center;
		text-decoration: none;
	}

	&:hover,
	&:active {
		background-color: var(--color-stitch);
	}
}

.date-section .cycle-list-container {
	margin-bottom: 1em;
	ul {
		display: flex;
		justify-content: center;
		gap: 0.8em;
	}
}

.date-section .cycle-list-item {
	padding: 0.6em 1em;
	border-radius: 6px;
	background-color: var(--color-surface);
	border: 0.1em solid var(--color-border);
}

.date-section .cycle-list-item.active {
	border: 0.1em solid var(--color-stitch);
	color: var(--color-stitch);
}

.date-section .training-day-list-container {
	display: flex;
	justify-content: center;
	position: relative;
	margin: 0.6em var(--horizontal-margin) 0;

	ol {
		display: flex;
		gap: 0.2em;
		justify-content: center;
		width: 100%;
		list-style: none;
		margin-top: 0.4em;
	}

	a:first-of-type {
		position: absolute;
		top: calc(50% - var(--week-list-arrow-size) / 2);
		left: 0;
	}

	a:nth-of-type(2) {
		position: absolute;
		top: calc(50% - var(--week-list-arrow-size) / 2);
		right: 0;
	}
}

.date-section .week-day {
	width: min(100%, 5em);
	aspect-ratio: 1 /1;
	display: grid;
	grid-template-rows: 1fr auto;
	border: 0.2em solid var(--color-border);
	background-color: var(--color-surface);
	text-overflow: ellipsis;

	p {
		font-size: 1.2em;
	}
}

.date-section .week-day.active {
	border: 0.2em solid var(--color-stitch);
	color: var(--color-stitch-secondary);
	font-weight: 700;
}

.date-section .multiple-session-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;

	.additional-session-indicator {
		display: flex;
		gap: 0.2em;
	}

	.additional-indication {
		background-color: var(--color-stitch-text);
		width: 0.6em;
		height: 0.6em;
		border-radius: 3px;
	}
}

.sessions-section {
	margin: 1.2em var(--horizontal-margin) 2em;
	display: flex;
	flex: 1;
	background-color: var(--color-stitch-secondary);
	border-radius: 6px;
}

.sessions-section.no-session {
	justify-content: center;
	align-items: center;

	h2 {
		font-size: 1.4em;
	}
}

.sessions-section .sessions-container {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sessions-section .change-active-session-container {
	padding: 1em;
	ul {
		display: flex;
		justify-content: center;
		gap: 1.2em;
	}

	li {
		width: 2em;
		height: 2em;
		display: flex;

		a {
			background-color: var(--color-stitch-text);
			border-radius: 6px;
			width: 100%;
			box-shadow: var(--box-shadow-header);
		}

		&.active-item {
			a {
				background-color: var(--color-stitch);
			}
		}
	}
}

.canvas-container {
	margin: 1em var(--horizontal-margin) 2em;
	display: flex;
	justify-content: center;
	background-color: var(--color-stitch-secondary);
	padding: 1em;

	canvas {
		max-width: 600px;
		height: auto;
		flex: 1;
	}
}

.heat-map-section {
	margin: 2em var(--horizontal-margin);
	background-color: var(--color-stitch-secondary);
	border-radius: 4px;
	padding: 1em;

	> h2 {
		color: var(--color-stitch);
		font-size: 0.7em;
		letter-spacing: 0.2em;
		margin-bottom: 1em;
	}

	& > .grid-container {
		display: flex;
		flex-direction: column;
		gap: 1em;
		justify-content: center;
		align-items: center;

		> p {
			color: var(--color-stitch);
		}
	}
}

.heat-map-section .grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	width: 100%;
}

.heat-map-section .grid .cell {
	display: flex;
	justify-content: center;
	border: 1px solid white;
}

.heat-map-section .grid .cell.no-workout-session {
	background-color: grey;
}

.heat-map-section .grid .cell.one-workout-session {
	background-color: #40c463;
}

.heat-map-section .grid .cell.many-workout-session {
	background-color: #216e39;
}
