.main.day {
	display: flex;
	flex-direction: column;
	color: white;

	& > a {
		color: inherit;
	}

	& > .training-day-item {
		height: fit-content;
	}

	.basic-line[data-id="dayPageSessionBasicLine"] {
		& .line-card-button {
			align-items: flex-start;
			justify-content: space-between;
		}
	}
}

.current-day-container {
	text-align: center;
	margin: 0 var(--horizontal-margin);
	display: flex;
	justify-content: center;
	border-radius: 4px;

	h1 {
		font-size: 3.5em;
		color: var(--color-stitch);
	}
}

.day-rail-wrapper {
	margin: 2em var(--horizontal-margin) 0;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	gap: 0.5rem;
}

.day-rail {
	display: flex;
	gap: 0.75rem;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	padding: 1rem;
	scrollbar-width: none;
}

.day-rail::-webkit-scrollbar {
	display: none;
}

.day-rail li {
	list-style: none;
	flex: 0 0 auto;
	scroll-snap-align: center;
}

.day-card {
	display: block;
	min-width: 90px;
	padding: 1rem;
	border: 1px solid var(--color-text);
	border-radius: 0.75rem;
	text-align: center;
	text-decoration: none;
	color: inherit;
}

.day-card.active {
	background: var(--color-text);
	color: var(--color-bg);
	view-transition-name: active-day-card;
}

.day-arrow {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 999px;
}

.session-selection-container {
	margin-top: 1.5em;

	> h2 {
		margin: 0 var(--horizontal-margin);
	}
}

.session-step-container {
	flex: 1;
	margin: 2em var(--horizontal-margin);
	background-color: var(--color-surface);
	padding: 1em 2em;
	gap: 1em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	h3 {
		font-size: 1.8em;
	}

	ul {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	button {
		background-color: transparent;
		padding: 1.4em;
		color: var(--color-text);
		border: 0.36em dashed var(--color-border);

		&:hover {
			cursor: pointer;
		}
	}
}

.session-step-item {
	background-color: var(--color-border);
	padding: 1.2em 2.4em;
}
