.main.library {
	padding: 1em 0;
	display: flex;
	flex-direction: column;
}

.title-mark {
	margin-top: 0.4em;
	width: 2.8em;
	height: 0.23em;
	background-color: var(--color-stitch);
}

.search-exercise {
	margin-top: 1.5em;
	background-color: transparent;
	color: var(--color-text);
	padding: 1em 0.8em;
	border: 0.2px var(--color-stitch) solid;
	width: 100%;
	max-width: 500px;

	&::placeholder {
		color: var(--color-text);
	}
}

.exercise-list-container {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;

	h2 {
		font-size: 2em;
		margin-bottom: 0.4em;
	}
}

.empty-paragraph-container {
	color: var(--color-text-muted);
	padding: 0.2em 1em;
	border-left: 0.16em solid var(--color-stitch);
}
