.main.library {
	h2 {
		font-size: 1.1em;
		color: var(--color-text);
	}
}

.main.library .session-card {
	background-color: var(--color-stitch-secondary);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: 0.8em;

	h2 {
		font-size: 1.2em;
	}

	> p {
		font-size: 0.7em;
		color: var(--color-accent);
		letter-spacing: 0.1em;
		margin-top: 0.8em;
		margin-bottom: 0.4em;
	}

	> ol {
		list-style: none;
	}
}

.main.library .session-card .session-card-header {
	display: grid;
	grid-template-columns: 1fr auto auto;

	.session-card-notes {
		color: var(--color-stitch);
		font-size: 0.9em;
	}

	svg {
		padding: 0.1em;
		width: 100%;
		height: 100%;
	}
}

.main.library .session-card .session-card-header .settings {
	width: 24px;
	height: 24px;

	button {
		border: 0;
		padding: 0;
		border-radius: 4px;
		background-color: var(--color-text);
		height: fit-content;
	}
}

.main.library .session-card .step-list {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
}

.main.library .session-card .step-item {
	.step-item-title {
		color: var(--color-stitch);
	}
}

.main.library .exercise-variants-container .accordion {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: var(--color-stitch-secondary);
}

.main.library .exercise-variants-container .accordion-item {
	margin-bottom: 0;

	.accordion-header {
		color: var(--color-text);
	}

	.content {
		display: grid;
		grid-template-columns: 1fr auto;

		strong {
			color: var(--color-text);
		}
	}

	.settings {
		width: 24px;
		height: fit-content;

		button {
			border: 0;
			padding: 0;
			border-radius: 4px;
			background-color: var(--color-text);
			height: fit-content;
		}
	}

	svg {
		width: 100%;
		height: 100%;
		padding: 0.1em;
	}
}

.main.library .main-header {
	margin: 2em var(--horizontal-margin) 0;
	display: grid;
	grid-template-columns: 1fr auto;
}

.main.library .main-header .title-container {
	p {
		color: var(--color-accent);
		font-weight: bold;
		letter-spacing: 0.05em;
		font-size: 0.6em;
	}

	h1 {
		color: var(--color-text);
		font-size: 1.8em;
	}
}

.main.library .main-header .button-container {
	align-self: stretch;
	aspect-ratio: 1 / 1;

	button {
		background: var(--color-stitch);
		color: var(--color-surface);
		border: none;
		height: 100%;
		width: 100%;
		font-size: 1.4em;
		font-weight: bold;

		border-radius: 4px;
		cursor: pointer;
	}
}

.main.library .search-container {
	margin: 2em var(--horizontal-margin);
	border: 2px solid var(--color-stitch);
	border-radius: 4px;

	> form,
	div {
		display: grid;
		grid-template-columns: auto 1fr;
		background-color: var(--color-surface);
		align-items: center;

		label {
			padding-left: 0.6em;
			color: var(--color-stitch);
		}
	}

	.search-exercise-input {
		color: var(--color-text);
		padding: 1em 0.8em;
		background-color: transparent;
		border: 0;
		color: var(--color-stitch);

		width: 100%;

		&::placeholder {
			color: var(--color-stitch);
		}

		&:focus {
			outline: none;
		}
	}
}

.main.library .session-template-container {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	padding-top: 1em;
}

.main.library .session-template-container > .header {
	margin: 0 var(--horizontal-margin);
	display: flex;
	justify-content: space-between;

	p {
		font-size: 0.9em;
		color: var(--color-stitch);
	}
}

.main.library .session-template-container .list-container > ul {
	display: grid;

	grid-auto-flow: column;
	grid-template-rows: repeat(2, auto);
	grid-auto-columns: 280px;
	padding: 0 var(--horizontal-margin);
	gap: 1em;

	overflow-x: auto;
}

.main.library .session-template-container .session-card {
	width: 280px;
	padding: 0.8em;
	background-color: var(--color-stitch-secondary);
	border-radius: 4px;
	height: 100%;

	.header {
		display: grid;
		grid-template-columns: 1fr auto;

		.title {
			font-size: 1.3em;
			color: var(--color-text);
		}

		.subtitle {
			font-size: 0.9em;
			color: var(--color-stitch);
		}

		> .settings {
			width: 24px;
			height: fit-content;

			a {
				padding: 0.1em;
				border: 0;
				display: block;
				width: fit-content;
				background-color: var(--color-text);
				border-radius: 4px;
				width: 24px;
				height: 24px;
			}

			.icon {
				width: 100%;
				height: 100%;
			}
		}
	}

	.body {
		margin-top: 0.75em;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		p {
			font-size: 0.8em;
			margin-top: auto;
		}
	}
}

.main.library .active-session-template-container {
	margin: 1em var(--horizontal-margin);
	height: fit-content;
	display: flex;
	flex-direction: column;
	gap: 0.6em;

	h3 {
		font-size: 0.8em;
	}
}

.main.library .active-session-container {
	background-color: var(--color-stitch-secondary);
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	padding: 0.8em;

	.header {
		display: grid;
		grid-template-columns: 1fr auto;
	}

	.settings {
		width: 24px;
		height: fit-content;

		button {
			border: 0;
			padding: 0;
			border-radius: 4px;
			background-color: var(--color-text);
			height: fit-content;
		}
	}

	.icon {
		width: 100%;
		height: 100%;
	}
}

.main.library .exercise-variants-container {
	> .header {
		margin: 3em var(--horizontal-margin) 0;
		display: flex;
		justify-content: space-between;

		p {
			font-size: 0.9em;
			color: var(--color-stitch);
		}
	}

	> .list-container {
		margin: 1em var(--horizontal-margin);
		display: flex;
		gap: 0.8em;
		overflow-x: auto;
	}

	> .list > ul {
		display: flex;
		gap: 0.8em;
	}
}

.main.library .exercise-variants-container .list-container {
	ul {
		width: 100%;
	}
}

.main.library .exercise-variants-container .custom-exercise-button-container {
	margin: 2em var(--horizontal-margin) 2em;

	button {
		width: 100%;
		padding: 1.4em;
		color: var(--color-text);
		border: 0;

		background:
			var(--horizontal-dashed-line) top left / 14px 3.2px repeat-x,
			var(--horizontal-dashed-line) bottom left / 14px 3.2px repeat-x,
			var(--vertical-dashed-line) top left / 3.2px 14px repeat-y,
			var(--vertical-dashed-line) top right / 3.2px 14px repeat-y;

		background-color: transparent;

		&:hover {
			cursor: pointer;
		}
	}
}

.accordion-content-container {
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 1em;

	.settings {
		button {
			border: 0;
			border-radius: 4px;
		}
		svg {
			width: 30px;
		}
	}
}
