<%
const programArr = data?.programArr || [];
%>

<form class="forms" action="/cycles" method="POST">

	<%- include('olaInput', { data: { label: "Name", type: "text", name: "name", autocomplete: "name", required: true } }); %>
	<%- include("select", { data: { id: "programSelect", label: "Program", name: "programId", required: true, options: programArr } }); %>


	<%- include("select", { data: { id: "cycleOrderSelect", label: "Cycle Order", name: "cycleOrder", required: true, disabled: true, options: [],  } }); %>
	<%- include("simpleButton", { data: { text: "Submit", type: "submit" } }); %>
</form>

<script>
	const programSelect = document.getElementById("programSelect");
	const cycleOrderSelect = document.getElementById("cycleOrderSelect");

	programSelect.addEventListener("change", async () => {
		cycleOrderSelect.disabled = true;
		const programId = programSelect.value;

		cycleOrderSelect.innerHTML = '<option value="">Loading...</option>';
		cycleOrderSelect.disabled = false;

		if (!programId) return;

		try {
			const res = await fetch(`/cycles/${programId}`);
			const cycles = await res.json();

			cycles.push({ cycle_order: cycles.length + 1 });

			cycleOrderSelect.innerHTML = '<option value="">Select cycle</option>';

			cycles.forEach(cycle => {
				const option = document.createElement("option");
				option.value = cycle.cycle_order;
				option.textContent = cycle.cycle_order;
				cycleOrderSelect.appendChild(option);
			});

		} catch (err) {
			console.error(err);
			cycleOrderSelect.innerHTML = '<option value="">Error loading cycles</option>';
		}
	});

</script>